body{
	xbackground-image: url("images/bookbg.jpg");
	xbackground-repeat: no-repeat;
	xbackground-attachment: fixed;
	xbackground-size:100%;
	background:black;
}

#menu {
	position:relative;
  margin: 7px;
  padding: 7px 6px 0;
  background: -webkit-linear-gradient(#9999FF, #D5D5F6, #7A7ACC, #7A7ACC);
  background: -moz-linear-gradient(#9999FF, #D5D5F6, #7A7ACC, #7A7ACC);
  border: solid 2px purple;
  border-left: solid 6px purple;
  border-bottom: solid 6px purple;
  line-height: 100%;
  border-radius: 4em;
  font: normal 0.5333333333333333em Alegreya, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

}

#quoteSubmission{
	background:orange;
	border-radius:8px;
	margin:5px;
	padding:14px;
	padding-top:34px;
}
.form-horizontal label[for="quoteText"].control-label{
	line-height: 154px;
	padding-top: 0px;
}

#quoteSubmission .resultcontainer{
	float:left;
}
#authorMatches{
	position:absolute;
	left:35px;
	border:solid green 2px;
	z-index:15;
	padding-left:0px;
}
#authorMatches li{
	position:relative;
	xz-index: 15;
	list-style: none;
	background:lightgreen;
}
#authorMatches li:hover{
	background:green;
}

.centerbtn{
	width:112.906px;
	margin:auto;
	
}
#quoteSubmission legend{
	text-align:center;
	font-weight: bold;
	font-size: 28px;
	margin-bottom:30px;
	
}
#quotesubmitbtn{
	font-weight:bold;
	color:blue;
	width:100%;
	border: solid 2px blue;
}

#searchForm{
	padding-top:12px;
}

#menu input[type="text"]{
	background:white;
	
}
#menu img{
	max-width:100%;
	min-width:240px;
}




#menu li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}

#menu a, 
#menu a:link {
  text-align:center;
  font-weight: bold;
  font-size: 16px;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  border-radius: 5px;
  transition-duration:.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#cipherEncrypt{
	clear:left;
}
#cipherKey{
	margin-top:2px;
}
#cipherKeyLabel{
	text-shadow:none !important; 
	background:orange !important;
	color:white !important;
}

#menu .active a, 
#menu li:hover a {
  cursor:pointer;
  background: #B9B9F0;
  color: #444;
  transition-duration:.4s;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
#menu li ul li{
	background:transparent;
	position:relative;
	transition-duration:1.5s;
	
	padding:0px;
	margin:0px;
	width:100px;
}

.user, .login{
	display:none;
}
#menu li:hover ul li a{
	
	
}
#menu li:hover ul li:hover>a{
	text-shadow:none;
	background:orange;
	color:white;
	
}
#menu li ul li a{
	margin:0px;
	text-shadow:none;
	transition-duration: 1.5s !important;
	border-radius: 0px;
	width:100px !important;
}

#menu li ul{
	padding-left:30px;
	position:absolute;
	transition-duration:1.5s;
	display:none;
}
#menu li ul li ul {
	display:none;
	position:absolute;
	left:100px;
	top:10px;
	padding-left:0px;
	width:300px;
	background:transparent;
	background:orange;
}
#menu li ul li ul li{
	float:left;
	position:relative;
}

@keyframes fadein{
	from{opacity:0;}
	to{opacity:1;}
}
#menu li:hover>ul{
	
	transition-duration:1.5s;
	z-index:10;
	display:block;
	
	text-shadow:none;
	animation: fadein .8s;
}

#menu .login{
	float:right;
}
#menu .login a{
	display:inline-block;
	vertical-align: center;
}
.login input{
	display:none;

	margin: 2px;
	
	font-size: 12px;
	transition-duration:2s;
}

.login:hover {
  background: #B9B9F0;
  color: #444;
  border-radius:5px;
  transition-duration:1.5s;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
}
#menu .login:hover a {
	background:transparent;
	transition-duration:1.5s;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
}
#menu .login a {
	transition-duration:1.5s;
}
#menu .login *{
	margin-bottom:0;
}
#menu .login {
	border-radius:5px;
	padding:0;
	transition-duration:1.5s;
}

#menu #user {
	float: right;

}

#menu #user a {
	width: 160px;
	text-align: center;
}

#menu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#quoteResults *{
	font-family: 'Alegreya', serif;
	font-size: 19px;
}
#quoteResults{
	display:flex;
	flex-flow: column wrap;
	xbackground-color:lightyellow;
	padding:0px;
}
#quoteResults > li{
	width:97%;
	display:flex;
	flex-flow: column wrap;
	
	border-radius:8px;
	background:-webkit-linear-gradient(lightblue, white, lightblue);
	background:-moz-linear-gradient(lightblue, white, lightblue);
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	
}
#quoteResults>li:nth-child(2n){
	background:-webkit-linear-gradient(lightgreen, #90EEBF, lightgreen);
	background:-moz-linear-gradient(lightgreen, #90EEBF, lightgreen);
	align-self:flex-end;
}
#quoteResults>li.userRated{
	background:orange;
}
#quoteResults>li>*{
	padding:12px;
	padding-bottom: 0px;
}
#quoteResults>li>*:last-child{
	padding-bottom:12px;
}
#quoteResults div.author, #quoteResults .tags, #quoteResults .source{
	display:block;	
}
span.author, span.tag, span.book {
	background:rgb(205, 180, 250);
	border-radius: 5px;
	padding:3px;
	margin:2px;
	transition-duration:.6s;
}
span.tag.userLikee, span.author.userRated{
	background:orange;
}
span.author:hover, span.tag:hover, span.book:hover{
	background:red;
	cursor:pointer;
}
li.quotecontainer *{
	display:inline-block;
	float:left;
}
li.quotecontainer .label{
	padding:3px;
	margin:2px;
	color:black;
	font-weight:normal;
	line-height:1.42857143;
}
li.quotecontainer div:not(.opine){
	display:block;
	clear:left;
}
div.author>*{
	display:inline-block;
	margin:0px;
	line-height:normal;
	vertical-align: middle;
	float:left;

}
#quoteResults div.opine:not(.tag):not(.edit){
	font-size:0px;
	opacity:
}
div.opine{
	background:yellow;
	border-radius: 5px;
	color:purple;
	padding:3px;
	display:none;
	margin:2px;
	margin-left:-2px;
	height:1;
	width:0px;
	min-width:0px;
	overflow:hidden;

	
}



span:hover+div.opine, div.opine:hover, li:hover div.opine.qt, li:hover div.opine.edit{
	display:inline-block;
	opacity:0%;
	animation: FadeInRating .8s;
	width:143px;
}
div.opine:hover{
	background:gold;
}

span.tag:hover+div.opine, span.tag+div.opine:hover{
	animation:growOutLike .8s;
	width:40px;
	
}
span.tag:hover+div.opine.unlike, span.tag+div.opine.unlike:hover{
	animation:growOutUnlike 1.2s;
	width:60px;
}

div.opine.qt{
	float:right;
}

#wordPlay{
	text-align:center;
	width:160px;
}
@keyframes FadeInRating{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes growOutLike{
	from{width:0px;}
	to{width:40px;}
}
@keyframes growOutUnlike{
	from{width:0px;}
	to{width:60px;}
}
#quoteSubmission input[data-id]{
	background:lightgreen;
}
li.quotecontainer div.edit{
	float:right; 
	width:40px !important;
	margin-right:5px;
}

